<% provide(:title, 'Lightbulbs') %>
<div class="nine columns">
	<dl class="tabs">
  	<dd class="active"><a href="#owned">Owned Lightbulbs</a></dd>
  	<dd><a href="#all">All Lightbulbs</a></dd>
  	<dd><a href="#interest">Interesting Lightbulbs</a></dd>
	</dl>

	<ul class="tabs-content">
 	 <li class="active" id="ownedTab">
 		<% @owned_lightbulb.each do |l| %>
 			<div class="twelve columns lightbulb">
 				<div class="two columns">
 					<%= gravatar_for User.find_by_id(l.user_id) %>
 				</div>
 				<div class="ten columns">
 					<%= l.title %><br/>
 					<%= l.description[0..50] %>
 				</div>
 			</div>
 			<div class="right">
 				<%= link_to 'Edit', edit_lightbulb_path(:id) %>
 			</div>
 			<div class="clearFix"></div>
		<% end %>
 	 </li>
  	<li id="allTab">
  		<% @lightbulbs.each do |l| %>
  			<div class="twelve columns lightbulb">
 				<div class="two columns">
 					<%= gravatar_for User.find_by_id(l.user_id) %>
 				</div>
 				<div class="ten columns">
 					<%= l.title %><br/>
 					<%= l.description[0..50] %>
 				</div>
 			</div>
 			<div class="clearFix"></div>
			<% end %>	
  	</li>
  	<li id="interestTab">
  	</li>
	</ul>
	<%= link_to 'Create Lightbulb', new_lightbulb_path %>
</div>
<div class="three columns">
	Feed here!
</div>