<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Lightbulb.ph </title>
  <%= stylesheet_link_tag    "reset", "foundation", "custom", "media"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="row">
			<%=	render 'layouts/header' %>
		</div>
	</header>
	<div class="row">
		<%= render 'layouts/messages' %>
	</div>
	<div class="row">
		<div class="twelve columns">
			<%= yield %>
		</div>
	</div>
	<footer>
		<div class="row">
			<%= render 'layouts/footer' %>
		</div>
	</footer>
</body>
<script type="text/javascript">
	$(document).foundationTabs();
</script>
</html>
